* {
  background-color: whitesmoke;
}
.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5c917a;
  font-family: "Roboto Mono", monospace;
}
.nameplate {
  font-size: 69px;
  padding-top: 1rem;
  padding-right: 40px;
}
.links {
  font-size: 23px;
  float: right;
  font-weight: 700;
}
.App-link {
  color: #61dafb;
}
.splash {
  height: auto;
  padding-top: 50px;
  width: 400px;
  background-color: whitesmoke;
}
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #5d6863;
  background-color: whitesmoke;
  padding-left: 280px;
  padding-right: 280px;
  padding-top: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
